@mixin flex-center-space-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-space-between(){
  display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font($size: 14px, $height: 17px, $weight: 300, $style:normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}
