$black-color: #222222;
$pink-color: #f1e4e6;
$modal-black: rgba(0, 0, 0, 0.5);
$pink-color: #f1e4e6;
$lightred-color: #f16d7f;
$brightpink-color: #ef5b70;
$white-color: #fff;
$gray-text-color: #9f9f9f;
$hover-color: rgba(58, 56, 56, 0.86);
$input-bg-color: #e1e1e1;
$lightpink-color: #f8f3f4;
$input-border-color: #eaeaea;
