.credits {
    background-color: $black-color;
    color: $white-color;
    padding-top: 30px;
    padding-bottom: 30px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
