.brand {
  display: flex;

  @include mobile {
    & {
      display: block;
      max-width: 100%;
    }
  }

  &__heading-wrapper {
    background-color: $pink-color;
    padding: 0 0 0 92px;
    width: 50%;
    @include flex-center-space-between;
    @include tablet {
      padding: 0 0 0 68.21px;
    }
    @include mobile {
      width: 100%;
      height: 363px;
      justify-content: center;
      align-items: center;
      padding: 0 56px;
    }
  }

  &__image {
    width: 50%;
    height: auto;

    @include mobile {
      display: none;
    }
  }

  &__heading {
    @include font(48px, 58px, 900);
    text-transform: uppercase;
    border-left: 12px solid $lightred-color;
    padding-left: 16px;
    @include tablet {
      @include font(44px, 52.8px, 900);
    }
    @include mobile {
      @include font(38px, 45.6px, 900);
    }
  }

  &__heading-text {
    @include font(37px, 44px, 700);
    @include tablet {
      @include font(24px, 28.8px, 700);
      text-align: right;
    }
    @include mobile {
      @include font(20px, 24px, 700);
      text-align: right;
    }
  }

  &__heading-text--pink {
    color: $lightred-color;
  }
}
