.cart {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: flex-start;

    @include mobile {
        & {
            flex-direction: column;
        }
    }

    @include tablet {
        & {
            flex-direction: column;
        }
    }

    &__items {
    }

    &__items-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 72px;
        @include mobile {
            margin-bottom: 30px;
        }

        @include mobile {
            margin-bottom: 62px;
        }
    }

    &__list-item {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 40px;
        @include mobile {
            width: 100%;
        }
    }

    &__list-item-info {
        padding-top: 22px;
        padding-left: 31px;
        padding-right: 167px;
        padding-bottom: 62px;

        @include mobile {
            padding-top: 13px;
            padding-left: 17px;
            padding-right: 53px;
            padding-bottom: 38px;
        }
    }

    &__list-item-img {
        width: 40%;
        height: auto;
    }

    &__list-item-text {
        font-size: 22px;
        line-height: 26px;
        strong {
            color: $lightred-color;
        }
    }

    &__list-item-title {
        margin-bottom: 42px;
        font-size: 24px;
        line-height: 29px;
        font-weight: normal;
        @include mobile {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__list-item-delete {
        position: absolute;
        top: 28px;
        right: 22px;
        background: none;
        border: none;
        cursor: pointer;

        @include mobile {
            top: 17px;
            right: 12px;
        }
    }
    &__quantity {
        padding: 0 16px;
        border: 1px solid $input-border-color;
        text-align: center;
        @include font(18px, 22px);
        width: 2ch;
        margin-left: 24px;
        @include mobile {
            margin-left: 0px;
            padding: 0 9px;
        }
    }

    &__controls {
        @include flex-center-space-between();
        width: 100%;

        @include tablet {
            justify-content: space-around;
            margin-bottom: 104px;
        }

        @include mobile {
            justify-content: space-around;
            margin-bottom: 104px;
        }
    }

    &__button {
        text-transform: uppercase;
        background: none;
        border: 1px solid #a4a4a4;
        @include font(14px, 17px);
        padding: 16px 40px;
        cursor: pointer;
        @include mobile {
            padding: 9px 14px;
            @include font(12px, 14px);
        }
    }

    &__checkout {
        flex-basis: 45%;
        margin-left: 128px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mobile {
            flex-basis: 100%;
            align-items: center;
            margin-left: 0;
        }

        @include tablet {
            margin-left: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__form {
        @include flex-column-space-between;
        align-items: flex-start;
        width: 100%;
        @include tablet {
            flex: 60%;
        }
        @include mobile {
            flex: 100%;
        }
    }

    &__form-input {
        margin-bottom: 21px;
        padding-left: 17px;
        padding-top: 14px;
        padding-bottom: 14px;
        width: 80%;
        @include mobile {
            width: 90%;
        }
    }

    &__summary {
        margin-top: 57px;
        background: #f5f3f3;
        padding: 45px;
        @include tablet {
            flex: 50%;
            margin-top: 0;
        }
    }

    &__submit {
        cursor: pointer;
        margin-top: 17px;
        background: $lightred-color;
        color: $white-color;
        border: none;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 43px;
    }

    &__checkout-legend {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__sub-total,
    &__grand-total {
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    &__sub-total {
        font-size: 11px;
        line-height: 13px;
    }

    &__grand-total {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        strong {
            color: $lightred-color;
        }
    }
}
