.credits {
    background-color: $black-color;
    color: $white-color;
    padding-top: 30px;
    padding-bottom: 30px;

    @include mobile {
        padding-top: 43px;
        padding-bottom: 9px;
    }

    &__container {
        @include flex-center-space-between();
        @include mobile {
            @include flex-column-space-between;
            flex-direction: column-reverse;
        }
    }
}
