.features {
    background-color: $black-color;
    color: $white-color;
    padding-top: 103px;
    padding-bottom: 103px;

    &__list {
        display: flex;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 360px;
        height: 134px;
        text-align: center;
    }

    &__item-heading {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: $white-color;
    }

    &__item-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $white-color;
    }
}
