.features {
    background-color: $black-color;
    color: $white-color;
    padding-top: 103px;
    padding-bottom: 103px;

    @include mobile {
        & {
            padding-top: 48px;
            padding-bottom: 81px;
        }
    }

    &__list {
        display: flex;
        @include mobile {
            & {
                @include flex-column-space-between;
            }
        }
    }

    &__item {
        @include flex-column-space-between;
        width: 360px;
        height: 134px;
        text-align: center;
        @include mobile {
            & {
                margin-bottom: 46px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item-heading {
        @include font(20px, 24px, 400);
        color: $white-color;
    }

    &__item-text {
        @include font(14px, 17px, 300);
        text-align: center;
        color: $white-color;
    }
}
