.socials {
    display: flex;
    @include mobile {
        & {
            margin-bottom: 40px;
        }
    }

    &__icon {
        background-color: $white-color;
        margin-right: 8px;
        padding: 8px;
    }
}
