.stocks {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 32%;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
      & {
        min-height: 167px;
      }
    }
  }

  &__item p {
    text-align: center;
    @include font(16px, 19px, normal);
    color: $white-color;
  }

  &__item h3 {
    @include font(24px, 29px, bold);
    text-align: center;
    color: $lightred-color;
    text-transform: uppercase;
  }

  &__item--woman {
    background-image: url(../../img/woman.jpg);
  }

  &__item--man {
    background-image: url(../../img/men.jpg);
    /*man.jpg*/
  }

  &__item--kids {
    background-image: url(../../img/kids.jpg);
    /*kids.jpg*/
  }

  &__item--accessories {
    flex-basis: 100%;
    background-image: url(../../img/accessoires.jpg);
    margin-top: 30px;
    /*accessories.jpg*/
  }
}
